{% extends 'Admin/home_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/categorypost/">
     {% csrf_token %}
  <table class="table table-bordered ">
    <tr>
      <th>Name</th>
      <td>
      <input type="text" class="form-control" name="textfield" id="textfield" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="button" id="button" value="Add" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
