<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/myapp/add_category">Add category</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/change_password">Change password</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/complaints_view">Complaints view</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/edit_category">Edit category</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/send_reply">Send reply</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_approved_ev_station">View approved  Ev station</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_rejected_ev_station">Veiw rejected Ev station</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_approved_workers">View approved workers</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_category">View category</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_ev_station">View EV station</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_feedback">View feedback</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_pending_workers_and_verify">View pending workers and verify</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_rejected_workers">View rejected workers</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_review_about_workers">View review about workers</a></td>
    </tr>
      <tr>
      <td><a href="/myapp/view_review_about_evstation">View review about ev station</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/view_user">View User</a></td>
    </tr>
  </table>
</form>
</body>
</html>
