{% extends 'Admin/home_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/change_passwordpost/">
    {% csrf_token %}
  <table class="table table-bordered ">
    <tr>
      <th >Current password</th>
      <td >
      <input type="text" class="form-control" name="textfield" id="textfield" required/></td>
    </tr>
    <tr>
      <th>New password</th>
      <td>
      <input type="text" class="form-control" name="textfield2" id="textfield2"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/></td>
    </tr>
    <tr>
      <th>Confirm password</th>
      <td>
      <input type="text" class="form-control" name="textfield3" id="textfield3" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="button" id="button" value="Change" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
