{% extends 'Admin/home_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/send_replaypost/
">
    {% csrf_token %}
  <table class="table table-bordered">
      <input type="hidden" name="rid" value="{{ id }}"/>
    <tr>
      <td>Reply</td>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5"class="form-control" required></textarea></td>
    </tr>
    <tr align="center">
      <td colspan="2"><input type="submit" name="button" id="button" value="Reply"class="btn btn-success" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
