{% extends 'Admin/home_index.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/myapp/view_approved_ev_station_post/">
  <table class="pull-left">
    <tr>{% csrf_token %}
      <td>
      <input type="text" name="textfield" id="textfield"placeholder="Search with Name" class="form-control" /></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success" /></td>
    </tr>
  </table><br><br>
  <table class="table table-bordered">
    <tr>
      <th>Sl.no</th>
      <th>Station name</th>
      <th>Email</th>
      <th>Place</th>
      <th>Phone no</th>
      <th>City</th>
      <th>State</th>
      <th>Pin</th>
      <th>Photo</th>
      <td>&nbsp;</td>
    </tr>
       {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>{{ i.station_name }}&nbsp;</td>
      <td>{{ i.email }}&nbsp;</td>
      <td>&nbsp;{{ i.place }}</td>
      <td>&nbsp;{{ i.phone_number }}</td>
      <td>&nbsp;{{ i.city }}</td>
      <td>{{ i.state }}&nbsp;</td>
      <td>&nbsp;{{ i.pin }}</td>
      <td><img src="{{ i.photo }}" height="70px" width="70px"> </td>
      <td>Approved</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
