<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/ev_changepassword/">Change password</a><br>
<a href="/myapp/ev_manageprofile/">Manage profile</a><br>
<a href="/myapp/ev_managecharges/">Manage Charges</a><br>
<a href="/myapp/ev_view_charges/">View Charges</a><br>
<a href="/myapp/ev_view_bookingforslot/">View Booking for Slots</a><br>
<a href="/myapp/ev_addslots/">Add slots</a><br>
<a href="/myapp/ev_view_slots/">View slots</a><br>
<a href="/myapp/ev_view_user/">View User</a><br>
<a href="/myapp/ev_view_complaints/">View Complaints</a><br>
<a href="/myapp/ev_view_review/">View review about EV Sation</a><br>

</body>
</html>